click<8.0.0
folium==0.12.1.post1
geemap==0.17.1
geopandas==0.11.1
leafmap>=0.10.5
ipykernel==6.15.1
ipyleaflet==0.17.0
ipysheet==0.5.0
ipython==8.4.0
plotly==5.13.0
pip==23.0.1
streamlit==1.2.0
streamlit-extras==0.2.6
