folium
geopandas==0.11.1
janitor==0.1.1
leafmap==0.30.0
numpy==1.26.3
pandas==2.1.4
plotly==5.18.0
Requests==2.31.0
Shapely==1.8.5.post1
st_annotated_text==4.0.1
streamlit==1.29.0
streamlit_extras==0.3.6
streamlit_folium==0.18.0
streamlit-plotly-mapbox-events>=0.0.4
